---
import Layout from "../layouts/Layout.astro";
import LoginCard from "../components/LoginCard";
const currentPath = Astro.url.pathname;
---

<Layout
  title="Pensum interactivo"
  description="Pensum interactivo"
  currentPath={currentPath}
>
  <div class="flex justify-center items-center min-h-[90vh]">
    <div class="bg-[#4CAF50] rounded-md flex justify-center items-center w-80 h-80 p-4">
      <div class="bg-white p-2 rounded shadow-lg text-center m-3 w-56 h-56">
        <LoginCard client:load />
      </div>
    </div>
  </div>
</Layout>
