---
import Layout from "../layouts/Layout.astro";
import RFMain from '../components/ReactFlow/ReactFlowMain'
---

<Layout title="Pensum interactivo" description="Pensum interactivo">
    <div class="flex mx-5 my-8 border-4 border-solid border-green-500 w-[75vw] h-[70vh]">
        <RFMain client:load/>
    </div>
</Layout>
