---
const links = [
  { name: "Inicio", href: "/" },
  { name: "Contactanos", href: "/about" },
  { name: "Pensum", href: "/pensum" },
  { name: "Sitios de interés", href: "/links" },
  { name: "Iniciar sesión", href: "/login" },
];
---

<nav class="bg-green-600 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-lg font-bold">Student ToolBox UdeA</div>
    <ul class="flex space-x-4">
      {links.map(link => (
        <li>
            <a href = {link.href} class = "text-gray-300 hover:text-white">
                <button type="button" class="bg-green-500 p-2">
                {link.name}
                </button>
            </a>
        </li>
      ))}
    </ul>
  </div>
</nav>
